# Ignore everything
*

# Allow git rules file
!.gitignore

# Allow drivers folder structure
!drivers/
!drivers/**/

# But ignore all files inside drivers by default
drivers/**

# Allow ONLY main.c inside Src
!drivers/Src/main.c

