# Ignore everything by default
*

# Keep git rules
!.gitignore

# Allow drivers folder and ALL its contents
!drivers/
!drivers/**

# Allow Src folder so we can pick one file from it
!Src/
!Src/main.c

!README.md
